<h2>商品一覧 <small>(全<%= @products.count %>件)</small></h2>

<%= render 'admin/genres/index', genres: @genres %>


<% @products.each do |product| %>
  <%= link_to product_path(product) do %>
    <%= image_tag product.get_product_image, size: "400x300" %>
  <% end %>
  <%= product.name %>
  ¥<%= product.non_tax_price %>
<% end %>
<%= paginate @products %>