<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'admin/genres/index', genres: @genres, class: 'text text-align-center' %>
    </div>
    <div class="col-lg-9">
      <div class="card text-center text-dark">
        <%= image_tag 'top.jpg', size: '830x300' %>
        <div class="card-img-overlay">
          <p class="card">
            <strong>
            ようこそ、ながのcakeへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
            </strong>
          </p>
        </div>
      </div>
      <h2>
        <strong>新着商品</strong>
      </h2>
      <div class="container">
        <% @products.each do |product| %>
          <%= image_tag product.get_product_image, size: "200x150" %><br>
          <%= product.name %><br>
          <%= product.non_tax_price %>
        <% end %>
      </div>
      <%= link_to '全ての商品を見る', products_path %>
    </div>
  </div>
</div>