<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-2">
      <%= render 'admin/genres/index', genres: @genres, class: 'text text-align-center' %>
    </div>
    <div class="col-md-9">
      <div class="card">
        <%= image_tag 'top.jpg', size: '830x300' %>
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <h5 class="card-text text-left text-dark">
            <strong>
            ようこそ、ながのcakeへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
            </strong>
          </h5>
        </div>
      </div>
      <h2 class="m-4">
        <strong>新着商品</strong>
      </h2>
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-3">
              <%= link_to product_path(product) do %>
                <%= image_tag product.get_product_image, size: "200x130"%>
              <% end %>
              <p class="mt-3"><strong><%= product.name %></strong></p>
              <p><strong>¥<%= product.non_tax_price %></strong></p>
          </div>
        <% end %>
      </div>
      <p class="text-right"><%= link_to '全ての商品を見る', products_path %></p>

    </div>
  </div>
</div>
