<h1>商品一覧</h1>
<%= link_to '商品新規追加', new_admin_product_path %>

<table>
  <thead>
    <thed>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thed>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name, admin_product_path(product.id) %></td>
        <td><%= product.non_tax_price %></td>
        <td><%= product.genre.name %></td>
        <td><%= product.sale_status ? '販売停止中' : '販売中' %></td>
      </tr>
      <% end %>
    </tbody>
  </thead>
</table>

