<h1>商品詳細</h1>
  <div class="form-group">
      <%= f.label :商品名 %>
      <%= @product.name %>
  </div>
  
  <div class="form-group">
      <%= f.label :商品説明 %>
      <%= @product.name %>
  </div>
  
  <div class="form-group">
      <%= f.label :ジャンル %>
  </div>
  
  <div class="form-group">
      <%= f.label :税込価格(税抜価格) %>
      <%= @product.non_tax_price %>
  </div>
  
  <div class="form-group">
      <%= f.label :販売ステータス %>
      <%= @product.sale_status %>
  </div>
<%= f.submit '編集する' %>
