<div class="container p-4">
  <div class="row">
    <h2 class="col-md-12 p-3">
      <strong>ログイン</strong>
    </h2>
  </div>
  <p class="col-md-3 p-3">会員の方はこちらからログイン</p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group row">
      <%= f.label :email, "メールアドレス", class: "col-md-2 offset-1" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-md-6" %>
    </div>

    <div class="form-group row pb-3">
      <%= f.label :password, "パスワード", class: "col-md-2 offset-1" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-md-6" %>
    </div>
      <%= f.submit "ログイン", class: "btn btn-primary w-25 col-md-3 offset-3" %>
  <% end %>
  <div class="row p-3">
  <p class="col-md-12 ml-3">会員登録がお済みでない方</p>
  <div class="col-md-4 offset-2">
  <%= link_to 'こちら', new_end_user_registration_path, class: "mr-3" %>  から新規登録を行ってください。

  </div>
  <%= link_to '管理者ログイン', admin_session_path, class: "btn btn-warning" %>
  </div>
</div>