<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="border border-dark">
    <header class="border border-dark p-1">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand mr-5, btn btn-outline-secondary" href="/"><strong>ながのcake</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h5 class="col-md-3 offset-1">
          <% if end_user_signed_in? %>
            <strong>ようこそ、<%= current_end_user.last_name %><%= current_end_user.first_name %>さん！</strong>
          <% end %>
          </h5>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li>
                <%= link_to '商品一覧', admin_products_path, class: 'btn btn-light mr-3' %>
              </li>
              <li>
                <%= link_to '会員一覧', admin_end_users_path, class: 'btn btn-light mr-3' %>
              </li>
              <li>
                <%= link_to '注文履歴一覧', admin_orders_path, class: 'btn btn-light mr-3' %>
              </li>
              <li>
                <%= link_to 'ジャンル一覧', admin_genres_path, class: 'btn btn-light mr-3' %>
              </li>
              <li>
                <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn btn-light' %>
              </li>
            <% else %>
              <ul class="navbar-nav ml-auto">
                <% if end_user_signed_in? %>
                  <li>
                    <%= link_to end_user_path(current_end_user), class: 'btn btn-light mr-3' do %>
                      <i class="fa-solid fa-address-card"></i> マイページ
                    <% end %>
                  </li>
                  <li>
                    <%= link_to products_path, class: 'btn btn-light mr-3' do %>
                      <i class="fas fa-book-open"></i> 商品一覧
                    <% end %>
                  </li>
                  <li>
                    <%= link_to cart_items_path, class: 'btn btn-light mr-3' do %>
                      <i class="fa-solid fa-cart-shopping"></i> カート
                    <% end %>
                  </li>
                  <li>
                    <%= link_to destroy_end_user_session_path, method: :delete, class: 'btn btn-light' do %>
                      <i class="fas fa-sign-out-alt" ::before></i> ログアウト
                    <% end %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to homes_about_path, class: 'btn btn-light mr-3' do %>
                      <i class="fas fa-link" ::before></i> About
                    <% end %>
                  </li>
                  <li>
                    <%= link_to products_path, class: 'btn btn-light mr-3' do %>
                      <i class="fas fa-book-open"></i> 商品一覧
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_end_user_registration_path, class: 'btn btn-light mr-3' do %>
                      <i class="fas fa-user-plus" ::before></i> 新規登録
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_end_user_session_path, class: 'btn btn-light' do %>
                      <i class="fas fa-sign-in-alt" ::before></i> ログイン
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
            </ul>
          </div>
          </div>
        </div>
      </nav>
      <div class="input-group input-group-sm md-3 col-md-3 offset-9 p-2">
        <div class="input-group-prepend">
          <%= text_field :keyword, value: @keyword %>
          <%= link_to root_path, class: "btn btn-outline-secondary btn-block root_path" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        </div>
      </div>
    </header>
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
